body{
    background-color: black;
    color: white;
}

main{
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center;
    padding: 8%;

}

h1{
    font-size: 60px;
    text-align: center;
}

.barone,
.bartwo,
.barthree{
    margin: 0 auto;
    height: 35px;
    width: 200px;
}

.barone{
    background-color: green;
}

.bartwo{
    background-color: red;
}

.barthree{
    background-color: orange;
}

  main { grid-area: main; }
  
  .one { grid-area: one; }
  
  .two { grid-area: two; }
  
  .three { grid-area: three; } 

/* Define grid for mobile first */

  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "main"
    "one"
    "two"
    "three"
    ;
  }
  
  /* Desktop media query */

  @media (min-width: 576px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "main main main"
        "one two three"
        ;
      }
  }

  @media (min-width: 992px){.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main main main"
      "one two three";
     }
}
  